@charset "UTF-8";


.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}


div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; 
	margin: 0; 
	padding: 0; 
}


body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}


a {
	text-decoration: none;
}


.hidden {
	display: none;
}


#container {
	margin: 0 auto;
	width: 428px;
}

.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

#header-con {
	background-color: #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-logo {
	grid-column: 1/3;
  width: 64px;
}


.grid {
  display: grid;
  padding-left: 15px;
  padding-right: 15px;
  grid-template-columns: repeat(4, 50px);
  grid-column-gap: 30px;
}

.grid-full {
 display: grid;
 grid-template-columns: 320px;
 grid-column-gap: 30px;
}

/* 3. ---Header--- */

#main-nav {
  grid-column: 1/-1;
}

#main-nav label img {
background: url(../images/burger.svg) center no-repeat;
border: 0px;
width: 20px;
height: 20px;
transition: all .5s ease;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav li a {
   display: block;
   padding: 10px 0 10px 0;
   text-align: center;
   color: #626262;
}

#main-nav li {
   border-bottom: 1px solid #efefef;
}

#main-nav li:first-child {
   border-top: 1px solid #efefef;
}

#main-nav li:last-child {
   margin-bottom: 10px;
}

#burger-con, #main-nav input {
  display: none;
}

#burger-icon {
  width: 400px;
}

#main-nav input:checked ~ #burger-con {
  display: block;
}

#main-nav input:checked ~ label img{
  transform: rotate(90deg);
}


#hero-text {
	grid-column: 1/-1;
	height: 64px;
	margin-top: 20px;
}


.bottle {
  padding: 1px;
  background-color: white;
  width: 315%;
  border-radius: 25px;
  margin-right: 111%;
  box-shadow: 12px 12px 12px black;
  margin-left: 61px;
  margin-top: 160px;
}

.Product {
  color: black;
  margin-left: 75%;
}


#contact-us-con {
	margin-top: 100px;
	margin-bottom: 60px;
}


#footer-demo {
  grid-column: 1/-1;
  grid-row: 2/3;
  height: 50px;
  width: 170px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 169px;
  align-self: end;
}

#hero-img{
  grid-column: 1/-1;
  grid-row: 2/6;
  height: 500px;
  width: 1200px;
  margin-top:10px;
  align-self: center;
}

#beer-con {
  margin-top: 100px;
}
.beer {
  width: 370px;
  height: 300px;
  grid-column: span 4;
}

#body-section{
  margin-top: 60px;
  width: 1200px;
  height: 450px;
  margin-left: 49px;

}

#flavours{
  color: black;
  text-align: center;
  padding: 30px;
  font-size: 40px;
}

#flavours_img img:last-child{
  margin-left: 500px;
}


#flavours_img img:first-child{
  margin-left: 90px;
}



#body-section2{
  margin-top: 60px;
  width: 1188px;
  height: 450px;

}

.navigations {
  color: white;
  text-decoration: none;
  display: block;
  font-size: large;
  margin-left: 60px;
}

#header-tag {
  margin-top: 50px;
  grid-column: 1/-1;
  grid-row: 2/3;
  height: 100px;
  width: 270px;
  margin-top: 20px;
  align-self: end;
}



#contact{
  margin-top: 90px;
  margin-left: 133px;
  font-size: 26px;
}




input[type="submit"] {
  width: 70px;
  padding: 16px 2px;
  background-color:rgb(255, 255, 255);
  color: grey;
  border: none;
  transition: all 500ms ease-in;
  align-self: middle;
width: 300px;
}

input[type="submit"]:hover {
  background-color: #000000;
  border-radius: 0;

}

#contact-text {
height: 300px;
  margin-left: 400px;
  margin-top: 200px;
}

#contact-form {
  margin-top: 100px;
  margin-left: 10px;
height: 350px;
}


#contact-form-fields-right textarea {
  height: 300px;
  width: 400px;
}

#contact{
  margin-top: 90px;
  font-size: 26px;
}




input[type="submit"] {
  width: 70px;
  padding: 16px 2px;
  background-color:rgb(255, 255, 255);
  color: grey;
  border: none;
  transition: all 500ms ease-in;
  align-self: middle;
width: 300px;
}

input[type="submit"]:hover {
  background-color: #000000;
  border-radius: 0;

}

#contact-text {
	height: 300px;
    margin-left: 400px;
    margin-top: 200px;
}

#contact-form {
  margin-top: 100px;
  margin-left: 10px;
height: 350px;
}


#contact-us{
  height: 300px;
  margin-top: 100px;
}


#footer{
  height: 300px ;
}

#footer-section{
  margin-top: 50px;
  width: 430px;
  background-color: gray;

  height: 350px;

}




#footer-section1{
  margin-top: 40px;
  width: 300px;
  height: 300px;
}

#footer-newsletter1 {
height: 20px;
}

.footer-title {
  margin-left: 160px;
  color: white;
  font-size: large;
}


.footer-box input{
font-size: 10px;
color: black;
padding: 15px 10px;
margin-left: 60px;
border: none;
background: rgb(244, 244, 244);

}

.footer-box button{
color: #ddd;
padding: 17px 30px;
margin-left: 50px;
font-size: 10px;
border: none;
border-radius: 5px;
background-color: rgb(106, 105, 105);
cursor: pointer;
transition: .3s ease-in;


}



.footer-button{
padding: -3px;
border-radius: 0px;
background:white ;
box-shadow: 10px 10px 15px rgb(160, 159, 159);
}

.footer-button{
color: #ddd;
padding: 17px 50px;
font-size: 10px;
border: none;
border-radius: 5px;
background-color: rgb(106, 105, 105);
cursor: pointer;
transition: .3s ease-in;


}

.footer-button:hover{
background-color: black;
}
