
.hidden {
    display: none;
}

#container{
    margin: 20px auto;
    width: 428px;
    background-color: white;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(4,85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}


article{
    grid-column: 1/-1;
}

#header-logo {
	grid-column: 1/3;
  width: 64px;
}

#mobile-nav {
	grid-column: 4/-1;
}

#header-tag h2{
    color: black;
    align-content: center;
}

.burger {
	height: 16px;
	background-color:#aaa;
	display: block;
	margin-bottom: 10px;
}

#header-con {
	background-color: #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}




.box-color{
    background-color:black;
    color:white;
    text-align: center;
}

.box-color2{
    background-color: #fe0000;
    text-align:center;
}

.box-color3{
    background-color:grey;
    color:white;
    text-align: center;
}


#order-now{
    height: 100px;
}

#hero-img{
    height: 300px;
    width: 200px;
    margin-top: 50px;
}

#hero-content{
    height: 300px;
    margin-top: 50px;
}

#hero-content-2{
    height: 300px;
    margin-top: 100px;
}


.hero-box-content h4{
    color: black;
    font-size: 26px;
}



.navigations {
    color: white;
    text-decoration: none;
    display: block;
    margin-left: -20px;
}

#header-tag {
    margin-top: 50px;
    grid-column: 1/-1;
    grid-row: 2/3;
    height: 100px;
    width: 270px;
    margin-top: 20px;
    align-self: end;
}



#contact-form-fields-right textarea {
    height: 300px;
    width: 400px;
}

#contact{
    margin-top: 90px;
    font-size: 26px;
}




input[type="submit"] {
    width: 70px;
    padding: 16px 2px;
    background-color:rgb(255, 255, 255);
    color: grey;
    border: none;
    transition: all 500ms ease-in;
    align-self: middle;
	width: 300px;
}

input[type="submit"]:hover {
    background-color: #000000;
    border-radius: 0;

}

#contact-text {
	height: 300px;
    margin-left: 400px;
    margin-top: 200px;
}

#contact-form {
    margin-top: 100px;
    margin-left: 10px;
	height: 350px;
}


#contact-us{
    height: 300px;
    margin-top: 100px;
}


#footer{
    height: 300px ;
}

#footer-section{
    margin-top: 50px;

    height: 350px;

}




#footer-section1{
    margin-top: 40px;
    width: 300px;
    height: 300px;
}

#footer-newsletter1 {
	height: 20px;
}


.footer-box input{
	font-size: 10px;
	color: black;
	padding: 15px 10px;
	border: none;
	background: rgb(244, 244, 244);

}

.footer-box button{
	color: #ddd;
	padding: 17px 30px;
	font-size: 10px;
	border: none;
	border-radius: 5px;
	background-color: rgb(106, 105, 105);
	cursor: pointer;
	transition: .3s ease-in;


}

.footer-box button:hover{
	background-color: black;
}


.footer-button{
	padding: -3px;
	border-radius: 0px;
	background:white ;
	box-shadow: 10px 10px 15px rgb(160, 159, 159);
}

.footer-button{
	color: #ddd;
	padding: 17px 50px;
	font-size: 10px;
	border: none;
	border-radius: 5px;
	background-color: rgb(106, 105, 105);
	cursor: pointer;
	transition: .3s ease-in;


}

.footer-button:hover{
	background-color: black;
}
